.Elegirnos{
    background-color: #191E25 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ContainerElegrinos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 4rem 0;
    border-radius: 20px;
    width: 350px;
    filter: drop-shadow(0 2px  10px rgba(0, 0, 0, 0.582));
    
}

.TittleElegrinos{
    font-weight: 700;
    color: #3A404F;
    margin: 1rem;
    font-size: 2rem;
}

.ElegirnosText{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    padding: 2rem 1rem;
}

.TittleTextElegirnos{
    font-weight: 600;
    color: #3A404F;
}

@media only screen and (min-width: 758px) and (max-width: 1400px){
  .Elegirnos{
    flex-direction: row;
  }

  .ContainerElegrinos{
    margin: 4rem 0;
    border-radius: 20px;
    width: 400px;
}
}

@media only screen and (min-width: 1400px){
    .Elegirnos{
      flex-direction: row;
      gap: 200px;
    }

    .ContainerElegrinos{
        margin: 4rem 0;
        border-radius: 20px;
        width: 450px;
    }
  }